@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Campeonato Brasileiro 2017</h1>
    <p class="lead">Nesse Projeto estou consumindo um WEB API da FantasyData</p>
    <p><a href="https://fantasydata.com/" class="btn btn-primary btn-lg">Aprenda mais &raquo;</a></p>
</div>
